# Python
__pycache__/
*.py[cod]
*.py.class
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
.dist
build/
site/

# macOS
.DS_Store

# IDE/editor
.idea/
.vscode/

# Env files
.env
.env.*

# Models and large caches
models/_lc/

# Node/React
src/frontend/node_modules/
src/frontend/dist/

# Docker
*.pid

# Logs
*.log
logs/

